{% extends "tontine/base3.html" %}
{% load crispy_forms_tags %}
{% load custom_tag %}
{% block content %}
<div class="container-fluid">
    <h3 style="text-align: center;">CONTRIBUTIONS INDIVIDUELLE POUR {{lib}}</h3>
    <br>
    <div class="row mt-3">
        <div class="col-md-12">
            <table id="example" class="stripe row-border order-column table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Noms & Prenoms</th>
                        <th>Taux</th>
                        <th>Déjà Règlé</th>
                        <th>Versement Restant</th>
                        <th>Mise à jour</th>
                        <th>Auteur</th>
                        <th>Date Echéance</th>
                        <th>Action</th>
                        <th>Payé</th>                        
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td id="name{{ data.id }}" {% if data.taux_paye == 0 %} style="color: crimson;"
                             {% else %}
                              style="color: blue;"  
                            {% endif %}>
                            {{data.membre.nom}}
                            </td>
                            <td>{{data.motif.minimum}} XAF</td>
                            <td>
                                <input type="number"  size="8" value="{{data.reglement}}" id="r{{ data.id }}" min="0" step="1" style='width:100%' readonly>
                            </td>
                            <td>
                                <button style="width: 100%" class="btn btn-outline-secondary">
                                    {{ data.versement_restant }}
                                </button>
                            </td>
                            <td>{{data.updated|date:"d/m/Y"}}</td>
                            <td>{{data.author}}</td>
                            <td>{{data.motif.date}}</td>
                            <td>
                                {% if request.user|has_group:"commissaire_compte" %}
                                    {% if data.taux_paye == 0 %}
                                    <a href="{% url 'versement_contrib_ind' %}?contribind_id={{data.id}}" style="width: 100%" class="btn btn-outline-primary">
                                        Contribuer
                                    </a>
                                    {% else %}
                                    <a  style="width: 100%" class="btn btn-outline-success">
                                        Déjà fait
                                    </a>
                                    {% endif %}
                                {% else %}
                                    {% if data.taux_paye == 0 %}
                                    <a style="width: 100%" class="btn btn-outline-primary">
                                        Contribuer
                                    </a>
                                    {% else %}
                                    <a  style="width: 100%" class="btn btn-outline-success">
                                        Déjà fait
                                    </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td id="payement{{ data.id }}" style="width: 1px">{{data.taux_paye}}</td>                
                        </tr>
                        {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Noms & Prenoms</th>
                        <th>Taux</th>
                        <th>Déjà Règlé</th>
                        <th>Versement Restant</th>
                        <th>Mise à jour</th>
                        <th>Auteur</th>
                        <th>Date Echéance</th>
                        <th>Action</th>
                        <th>Payé</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<style>
    th{
  color: #3f452b;
  font-weight: bold;
}
td{
    font-weight: 490;
}
</style>


<script>

    var Btns = document.querySelectorAll('.send')
    
    for (i = 0; i < Btns.length; i++) {
        Btns[i].addEventListener('click', function(){
            var mId = this.dataset.product
            let formData = new FormData();
            var reg = document.querySelector('#r'+mId).value;
            formData.append("mId", mId);
            formData.append("r"+mId, document.querySelector('#r'+mId).value);
            console.log('mId:', mId);
            const request = new Request('{% url "versement_contrib_ind" %}',
            {method: 'POST', headers:{'X-CSRFToken': csrftoken,}, body: formData});
            fetch(request)
                .then(response => response.json())
                .then(result => {
                    console.log(result);
                    const paye=document.querySelector("#payement"+mId);
                    paye.innerHTML=result["paye"];
                    console.log('paiement mis à jour est:', result["paye"])
                })
    
        })
    } 
</script>

{% endblock %}