{% extends "tontine/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <br>
    <div class="row mt-3">
        <div class="col-md-12">
            <table id="example" class="stripe row-border order-column table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Noms & Prenoms</th>
                        <th>Montant Prêt</th>
                        <th>Taux<br>Interêt</th>
                        <th>Montant Initial<br>à rembourser</th>
                        <th>Montant restant<br>à rembourser</th>
                        <th>Date Echéance<br>Remboursement</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in prets %}
                        <tr {% if data.insolvable %} style="color: red;" {% endif %}>
                            <td>{{ forloop.counter }}</td>
                            <td>{{data.membre.nom}}</td>
                            <td>{{data.montant}}</td>
                            <td>{{data.taux_interet}}%</td>
                            <td>
                                <button class="btn btn-outline-secondary" style="width: 100%">
                                    {{data.montant_initial_remboursement}}
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-outline-success" style="width: 100%">
                                    {{data.reste_a_rembourser}}
                                </button>
                            </td>
                            <td>{{data.date_remboursement|date:"d/m/Y"}}</td>
                            <td>
                                {% if request.user.is_staff %}
                                    {% if data.insolvable %}
                                        {% if data.freeze %}
                                        <a class="btn btn-outline-danger" style="width: 100%" href="#">Freezé</a>
                                        {% else %}
                                    <a class="btn btn-outline-danger" style="width: 100%" href="{% url 'reconduction' data.id %}">Reconduire</a>
                                        {% endif %}
                                    {% else %}
                                    <a class="btn btn-outline-primary" style="width: 100%" href="{% url 'rembpretbank' %}?pretbankid={{data.id}}">Rembourser</a>
                                    {% endif %}
                                {% else %}
                                    {% if data.insolvable %}
                                        {% if data.freeze %}
                                        <a class="btn btn-outline-danger" style="width: 100%" href="#">Freezé</a>
                                        {% else %}
                                    <a class="btn btn-outline-danger" style="width: 100%">Reconduire</a>
                                        {% endif %}
                                    {% else %}
                                    <a class="btn btn-outline-primary" style="width: 100%">Rembourser</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Noms & Prenoms</th>
                        <th>Montant Prêt</th>
                        <th>Taux<br>Interêt</th>
                        <th>Montant<br>Remboursement</th>
                        <th>Date<br>Remboursement</th>
                        <th>Date Echéance<br>Remboursement</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<style>
    th{
  color: #3f452b;
  font-weight: bold;
}
td{
    font-weight: 490;
}
</style>






    

{% endblock %}