{% extends "tontine/base2.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 style="text-align: center;">HISTORIQUE REMBOURSEMENT DES PRÊTS BANQUE</h1>
<br>

<table id="example" class="stripe row-border order-column table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>id_prêt</th>
            <th>Noms & Prenoms</th>
            <th>Date<br>Remboursement</th>
            <th>Montant<br>Remboursé</th>
            <th>Auteur</th>
        </tr>
    </thead>
    <tbody>
        {% for data in remboursements %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{data.pretbank.id}}</td>
                <td>{{data.pretbank.membre.nom}}</td>
                <td>{{data.date_remboursement|date:"d/m/Y"}}</td>
                <td>{{data.montant}}</td>
                <td>{{ data.author}}</td>
            </tr>
            {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>id_prêt</th>
            <th>Noms & Prenoms</th>
            <th>Date<br>Remboursement</th>
            <th>Montant</th>
            <th>Auteur</th>
        </tr>
    </tfoot>
</table>






<style>
    th{
  color: #3f452b;
  font-weight: bold;
}
td{
    font-weight: 490;
}
</style>
{% endblock %}